.ml-1 {
  margin-left: -1rem;
}

.dots {
  display: block;
  border: 0;
  text-align: center;
}

.dots::before {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  letter-spacing: 0.6em;
  content: '...';
  display: inline-block;
  margin-left: 0.6em;
  position: relative;
  top: -26px;
}

@media screen and (max-width: 30em) {
  .f5 {
    font-size: 1.125rem;
  }
}

.line {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p {
  margin-top: 0;
}

.links a {
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.15s ease-in;
  text-decoration: none;
  background-image: linear-gradient(#fff 50%, rgba(0, 0, 0, 0.8) 50%);
  background-repeat: repeat-x;
  background-position: 0 1rem;
  background-size: 1px 1px;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(#fff 50%, rgba(0, 0, 0, 0.5) 50%);
    text-decoration: none;
  }
}

.mw-narrow {
  max-width: 640px;
}

.mw-large {
  max-width: 1000px;
}
