body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" on;
  line-height: 1.58;
}

.cont-xs {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.cont-s {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.cont {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

p {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: -1rem;
}

.dots {
  display: block;
  border: 0;
  text-align: center;
}

.dots::before {
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  letter-spacing: 0.6em;
  content: '...';
  display: inline-block;
  margin-left: 0.6em;
  position: relative;
  top: -26px;
}

.f1,
.f2 {
  line-height: 1.1;
}

.f3 {
  line-height: 1.2;
}

.f4 {
  line-height: 1.45;
}

@media screen and (max-width: 30em) {
  .f5 {
    font-size: 1.125rem;
  }

  .f4 {
    font-size: 1.375rem;
  }
}

.line {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

p {
  margin-top: 0;
}

.links a, {
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.15s ease-in;
  text-decoration: none;
  background-image: linear-gradient(#fff 50%, rgba(0, 0, 0, 0.8) 50%);
  background-repeat: repeat-x;
  background-position: 0 1rem;
  background-size: 1px 1px;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(#fff 50%, rgba(0, 0, 0, 0.5) 50%);
    text-decoration: none;
  }
}

.btn {
  transition: color 0.15s ease-in, background 0.15s ease-in;
  opacity: 1;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  vertical-align: -webkit-baseline-middle;

  &:focus,
  &:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
}
