<div class="cont pa3 bb b-black-80">
  <div class="row between-xs">
    <div class="col-xs-4">
      <div class="box">
        <a class="black-80 link dim f5 b" href="{{siteUrl}}">
          Child Wise
        </a>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="box">
        <ul class="list tr ma0 pa0">
          <li class="dib ml3 ml4-ns">
            <a class="link dim black-80 f5" href="{{siteUrl}}">Blog</a>
          </li>
          <li class="dib ml3 ml4-ns">
            <a class="link dim black-80 f5" href="{{siteUrl}}about">About</a>
          </li>
          <li class="dib ml3 ml4-ns">
            <a class="link dim black-80 f5" href="{{siteUrl}}store">Store</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>