{% extends "_layouts/site" %}

{% block main %}
  <div class="cont-s ph3 pt4">
    <div class="flex justify-between">
      <h1 class="items-center f2 lh-solid mb4">
        Store
      </h1>

      <div class="flex items-center">
        <ul class="snipcart-summary list tr ma0 pa0">
          <li class="dib ml3 ml4-ns">
            <span class="f5">Cart (<span class="snipcart-total-items"></span>)</span>
          </li>
          <li class="dib ml3 ml4-ns links">
            <a href="#" class="snipcart-checkout black-80 f5">Checkout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dt ph3 cont-s">
    <hr class="line mb4">

    {% for entry in craft.entries.section('store').find() %}
      <article>
        <h3 class="f4 lh-title mb2 ttu tracked">{{ entry.title }}</h3>
        <p class="f5 lh-copy mb2">{{entry.description}}</p>

          <p class="f3 lh-copy mb2 black-50 b">${{entry.price}}</p>
          <a href="#"
            class="snipcart-add-item btn"
            data-item-id="{{ entry.slug }}"
            data-item-name="{{ entry.title }}"
            data-item-price="{{ entry.price }}"
            data-item-url="{{ url('store') }}"
            data-item-description="{{ entry.description }}">
            <span class="f6">Add to cart</span>
          </a>
          
          <hr class="line mb4">
      </article>
    {% endfor %}
  </div>
{% endblock %}