{% extends "_layouts/site" %}

{% block main %}
  <div class="dt ph3 pt4 mw-narrow center w-100 border-box">

    <div class="dtc w-50 mb4">
      <h1 class="dtc f2 lh-solid mb2 w-50">Store</h1>
    </div>

    <div class="dtc w-50 snipcart-summary mb4 f5 lh-copy links tr">
      Cart (<span class="snipcart-total-items"></span>)
      <a href="#" class="snipcart-checkout ml3">Checkout</a>
    </div>

  </div>
  <div class="dt ph3 mw-narrow center">
    <hr class="line mb4">

    {% for entry in craft.entries.section('store').find() %}
      <article>
        <h3 class="f4 lh-title mb2 ttu tracked">{{ entry.title }}</h3>
        <p class="f5 lh-copy mb2">{{entry.description}}</p>

          <p class="f3 lh-copy mb2 black-50 b">${{entry.price}}</p>
          <a href="#"
            class="snipcart-add-item link dim dib ba ph3 pv2 black-80 mb4"
            data-item-id="{{ entry.slug }}"
            data-item-name="{{ entry.title }}"
            data-item-price="{{ entry.price }}"
            data-item-url="{{ url('store') }}"
            data-item-description="{{ entry.description }}">
            <span class="f6 ttu tracked">Add to cart</span>
          </a>
          
          <hr class="line mb4">
      </article>
    {% endfor %}
  </div>
{% endblock %}