<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{siteUrl}}apple-touch-icon.png?v=4">
    <link rel="icon" type="image/png" href="{{siteUrl}}favicon-32x32.png?v=4" sizes="32x32">
    <link rel="icon" type="image/png" href="{{siteUrl}}favicon-16x16.png?v=4" sizes="16x16">
    <link rel="manifest" href="{{siteUrl}}manifest.json?v=4">
    <link rel="mask-icon" href="{{siteUrl}}safari-pinned-tab.svg?v=4" color="#3F4BA0">
    <meta name="theme-color" content="#3F4BA0">
    
    <link rel="stylesheet" href="{{siteUrl}}assets/css/main.css">
  {% endblock %}
</head>
<body class="w-100 custom-serif black-80 bg-white">
  
  {% block body %}{% endblock %}
  {% block foot %}{% endblock %}

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="{{siteUrl}}assets/js/main.js" async defer></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="ST_NDVkNzkyMjgtNTNlMC00ZjZiLTk5MTQtYmE0ZGYxNzA0MTFhNjM2MjQ2MzM4ODI2NTI3NDE0" id="snipcart"></script>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
</body>
</html>