{% extends "_layouts/site" %}

{% block main %}


<article class="ph3 pt3 pt4-ns">
  <h1 class="f3 f2-m f1-l tc lh-solid mw-large center mb4">{{entry.title | typogrify}}</h1>
  <div class="mw-narrow center">
    <p class="f6 ttu tracked black-50 tc mb4">
      <span>By {{entry.author.fullName}}</span>
      &middot; 
      <span class="di dn-ns">{{ entry.postDate | date("M d, Y") }}</span>
      <span class="dn di-ns">{{ entry.postDate | date("F d, Y") }}</span>
    </p>
    <hr class="mb4 line">
  </div>

  {% for block in entry.blog %}

    {% if block.type == "lead" %}

      <div class="mw-narrow center links">
        <div class="f4 lh-copy b mb4">{{block.lead | typogrify}}</div>
      </div>

    {% elseif block.type == "body" %}

      <div class="f5 mw-narrow center lh-copy mb5 links">
        {{block.body}}
      </div>

    {% elseif block.type == "heading" %}

      <div class="mw-narrow center">
      <h3 class="{{block.headingSize}} mb2">{{block.heading | typogrify}}</h3>
      </div>

    {% elseif block.type == "quotation" %}

      {% if block.quotationStyle == 'pulling' %}

        <blockquote class="mw7 center mh0 pr0 mb5">
        <div class="f4 f3-ns lh-title links">{{block.quotation}}</div>
          {% if block.cite | length %}
            <cite class="f6 ttu tracked fs-normal black-50">―{{block.cite}}</cite>
          {% endif %}
        </blockquote>
      
      {% elseif block.quotationStyle == 'blocking' %}

        <div class="mw-narrow center mb5 pl0">
          <blockquote class="ml-1 mr2 mt0 pl3 bl bw2 b--dark-gray">
            <div class="f5 lh-copy mt0 links">{{block.quotation}}</div>
            {% if block.cite | length %}
              <cite class="f6 ttu tracked fs-normal black-50">―{{block.cite}}</cite>
            {% endif %}
          </blockquote>
        </div>

      {% endif %}

    {% elseif block.type == "photograph" %}

      {% set image = block.photograph.first() %} 
      {% set transformedImages = craft.imager.transformImage(image, 
      [ 
        { width: 1000 }, 
        { width: 700 }, 
        { width: 400, jpegQuality: 65 }, 
      ], 
      { format: 'jpg', allowUpscale: false, mode: 'crop', jpegQuality: 80, position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true } ) %}

      {% if block.photographPosition.contains('small') %}
        <figure class="mw6 center mb5">
          <img class="w-100 lazyload"
          src="{{craft.imager.base64Pixel(2,1)}}"
          data-sizes="100vw"
          data-srcset="{{craft.imager.srcset(transformedImages)}}"
          alt="">
          <figcaption class="f6 black-50 tc mt2">{{block.caption}}</figcaption>
        </figure>

      {% elseif block.photographPosition.contains('center') %}

        <figure class="mw-narrow center mb5">
          <img class="w-100 lazyload"
          src="{{craft.imager.base64Pixel(2,1)}}"
          data-sizes="100vw"
          data-srcset="{{craft.imager.srcset(transformedImages)}}"
          alt="">
          <figcaption class="f6 black-50 tc mt2">{{block.caption}}</figcaption>
        </figure>

      {% elseif block.photographPosition.contains('outsetCenter') %}

        <figure class="mw7 center mb5">
          <img class="w-100 lazyload"
          src="{{craft.imager.base64Pixel(2,1)}}"
          data-sizes="100vw"
          data-srcset="{{craft.imager.srcset(transformedImages)}}"
          alt="">
          <figcaption class="f6 black-50 tc mt2">{{block.caption}}</figcaption>
        </figure>

      {% endif %}

    {% elseif block.type == "code" %}

      <div class="mw-narrow center mb5">
        <pre class="pre bg-black-05 pa3"><code class="f6">{{block.code}}</code></pre>
      </div>

    {% elseif block.type == "divider" %}

      <div class="mw-narrow center">
        {% if block.divider == 'dots' %}
          <hr class="mb5 pt2 dots black-50">
        {% elseif block.divider == 'line' %}
          <hr class="mb5 line">
        {% endif %}
      </div>

    {% elseif block.type == "lead" %}

      <p class="f4">{{block.lead | typogrify}}</h3>
    
    {% elseif block.type == "video" %}

      {% set id = block.video|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$6') %}

      {% set service = block.video|lower|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$3') %}

      <div class="mw-narrow center mb5">
        <div class="aspect-ratio aspect-ratio--16x9 mw-narrow center">
          {% if 'youtu' in service %}
      
            <iframe src="https://www.youtube.com/embed/{{id}}" frameborder="0" allowFullScreen class="aspect-ratio--object"></iframe>

          {% else %}

            <iframe src="https://player.vimeo.com/video/{{id}}?title=0&byline=0&portrait=0&color=00ab55&loop=1" frameborder="0" allowFullScreen class="aspect-ratio--object"></iframe>
          
          {% endif %}
        </div>
      </div>

    {% endif %}

  {% endfor %}
</article>

{% endblock %}