{% extends "_layouts/site" %}

{% block main %}


<article class="ph3 pt3-ns">
  <section class="mw-large center">
    <h1 class="f3 f2-m f1-l tc lh-solid mb4">{{entry.title | typogrify}}</h1>
  </section>

  <section class="mw-narrow center">
    <p class="f6 ttu tracked black-50 tc mb4">
      <span>By {{entry.author.fullName}}</span>
      &middot; 
      <span class="di dn-ns">{{ entry.postDate | date("M d, Y") }}</span>
      <span class="dn di-ns">{{ entry.postDate | date("F d, Y") }}</span>
    </p>
    <hr class="mb4 line">
  </section>

  {% for block in entry.blog %}

    {% if block.type == "lead" %}

      <section class="mw-narrow center">
        <div class="f4 lh-copy b mb4 links">
          {{block.lead | typogrify}}
        </div>
      </section>

    {% elseif block.type == "body" %}

      <section class="mw-narrow center">
        <div class="f5 lh-copy mb4 links">
          {{block.body}}
        </div>
      </section>

    {% elseif block.type == "heading" %}

      <section class="mw-narrow center">
        <h3 class="{{block.headingSize}} mt0 mb3">{{block.heading | typogrify}}</h3>
      </section>

    {% elseif block.type == "quotation" %}

      {% if block.quotationStyle == 'pulling' %}

        <section class="mw7 center">
          <blockquote class="pr0 mt0 mb4">
            <div class="f4 f3-ns lh-title links">{{block.quotation}}</div>

            {% if block.cite | length %}
              <cite class="f6 ttu tracked fs-normal black-50">―{{block.cite}}</cite>
            {% endif %}
          </blockquote>
        </section>
      
      {% elseif block.quotationStyle == 'blocking' %}

        <section class="mw-narrow center pl0">
          <blockquote class="ml-1 mr2 mt0 mb4 pl3 bl bw2 b--dark-gray">
            <div class="f5 lh-copy links">{{block.quotation}}</div>
            {% if block.cite | length %}
              <cite class="f6 ttu tracked fs-normal black-50">―{{block.cite}}</cite>
            {% endif %}
          </blockquote>
        </section>

      {% endif %}

    {% elseif block.type == "photograph" %}

      {% set image = block.photograph.first() %} 
      {% set transformedImages = craft.imager.transformImage(image, 
      [ 
        { width: 1000 }, 
        { width: 700 }, 
        { width: 400, jpegQuality: 65 }, 
      ], 
      { format: 'jpg', allowUpscale: false, mode: 'crop', jpegQuality: 80, position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true } ) %}

      {% if block.photographPosition.contains('small') %}
        <figure class="mw6 center mb4">
          <img class="w-100 mb3"
          src="{{craft.imager.base64Pixel(2,1)}}"
          sizes="100vw"
          srcset="{{craft.imager.srcset(transformedImages)}}"
          alt="">
          <figcaption class="f6 black-50 tc">{{block.caption}}</figcaption>
        </figure>

      {% elseif block.photographPosition.contains('center') %}

        <figure class="mw-narrow center mb4">
          <img class="w-100 mb3"
          src="{{craft.imager.base64Pixel(2,1)}}"
          sizes="100vw"
          srcset="{{craft.imager.srcset(transformedImages)}}"
          alt="">
          <figcaption class="f6 black-50 tc">{{block.caption}}</figcaption>
        </figure>

      {% elseif block.photographPosition.contains('outsetCenter') %}

        <figure class="mw7 center mb4">
          <img class="w-100 mb3"
          src="{{craft.imager.base64Pixel(2,1)}}"
          sizes="100vw"
          srcset="{{craft.imager.srcset(transformedImages)}}"
          alt="">
          <figcaption class="f6 black-50 tc">{{block.caption}}</figcaption>
        </figure>

      {% endif %}

    {% elseif block.type == "code" %}

      <section class="mw-narrow center">
        <pre class="pre bg-black-05 pa3 mb4"><code class="f6">{{block.code}}</code></pre>
      </section>

    {% elseif block.type == "divider" %}

      <section class="mw-narrow center">
        {% if block.divider == 'dots' %}
          <hr class="dots black-50 pt4 mt0 mb5">
        {% elseif block.divider == 'line' %}
          <hr class="line pt4 mt0 mb5">
        {% endif %}
      </section>
    
    {% elseif block.type == "video" %}

      {% set id = block.video|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$6') %}

      {% set service = block.video|lower|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$3') %}

      <section class="mw-narrow center">
        <div class="aspect-ratio aspect-ratio--16x9 mb4">
          {% if 'youtu' in service %}
      
            <iframe src="https://www.youtube.com/embed/{{id}}" frameborder="0" allowFullScreen class="aspect-ratio--object"></iframe>

          {% else %}

            <iframe src="https://player.vimeo.com/video/{{id}}?title=0&byline=0&portrait=0&color=00ab55&loop=1" frameborder="0" allowFullScreen class="aspect-ratio--object"></iframe>
          
          {% endif %}
        </div>
      </section>

    {% endif %}

  {% endfor %}
</article>

{% endblock %}